.new-chat-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  margin: 18px 0px;
  background-color: #ddebdd;
  color: #355e3b;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
}

/* pas de bord noir quand le bouton est sélectionné */
.new-chat-button:focus,
.new-chat-button:active {
  outline: none;
  box-shadow: none;
}

.new-chat-button:hover {
  background-color: #c7dac7;
}

.custom-input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #404040;
  padding: 4px 0;
  width: 100%;
  &::placeholder {
    color: #9f9c9c;
  }
}

.left-buttons {
  display: flex;
  align-items: center;
  gap: 6px;
  height: fit-content;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-size: 10px;
  color: #4c4c4c;
  font-weight: 400;
  transition: background-color 0.1s, color 0.1s;
}

.left-buttons:hover {
  background-color: #e0e4ed;
  color: #4c4c4c;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.paperclip {
  height: fit-content;
  background-color: transparent;
  padding: 7px;
  border: none;
}

.paperclip:hover {
  background-color: #e0e4ed;
  border: none;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 4px;

  position: absolute;
  bottom: -28px; /* place le tooltip sous le bouton */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 100;

  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
